
/*============Общее=========*/
body {
	margin: 0;	
	padding: 0;
	font-family: 'Commissioner', 'Lato', sans-serif;
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
	color: #000000; 
	text-transform: none;

	background-color: #E5E5E5;

	
}

.wrapper-gray {

}

html {
	box-sizing: border-box;	
}

img {
  max-width: 100%;
  height: auto;
}

a { 
	text-decoration: none ;
}

.button {
	/*font: inherit;*/
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	
	border: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;

 }

 h2 {
 	font-family: 'Commissioner';
 	font-weight: 400;
 	font-size: 28px;
 	line-height: 40px;
 }


/*======================СЕТКА НАЧАЛО===============*/
/*===========HEADER============*/


.main-navigation-wrapper {
	width: 100%;
	margin-top: 0px;
	background-color: #ffffff;

	display: flex;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 10px;


}

.container-1 {
	width: 1920px;
	margin: 0 auto;
	padding: 0 10px;

	
}

ul {
	list-style: none;

}

.wrapper-navigation {
	display: flex;


	
	background: #ffffff;
}



.main-wrapper-navigation {
	display: flex;
	
	justify-content: space-around;

	

	position: relative;
}

.main-wrapper-navigation li {
	display: flex;
	

}

.phone-1 {
	margin-right: 109px;
	margin-left: 240px;

	color: rgba(0, 0, 0, 0.5);

}
.phone-1::after {
	content: url(../img/svg/eye.svg);
	position: absolute;
	left: 600px;
}

.phone-1::before {
	content: url(../img/svg/a1.svg);
	
	position: absolute;
	right: 310px;
	
}

.phone-2::after {
	content: url(../img/svg/whatsapp.svg);
	position: absolute;
	right: 230px;
}

.phone-2::before {
	content: url(../img/svg/mts.svg);
	position: absolute;
	right: 0px;
}

.phone-2 {
	padding-right: 80px;

	color: rgba(0, 0, 0, 0.5);

}

/*.phone-1-svg::before {
	content: url(../img/svg/phone.svg);
	position: absolute;
	right: 270px;
}*/

.language {
	margin-right: 400px;
	position: relative;

	
}

.language::after {
	content: url(../img/svg/strelka.svg);
	position: absolute;
	right: -15px;
	bottom: 10px;
}

.header-navigation {
	display: flex;
	justify-content: space-between;



	width: 739px;

	margin-left: 262px;
	position: relative;
}

.header-navigation li {
	font-family: 'Commissioner';
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
}

.contacts {
	padding-right: 60px;
}

.contacts::after {
	content: url(../img/svg/search.svg);
	position: absolute;
	right: 10px;

}

.navigation {
	display: flex;
	background: #ffffff;
}

.navigation ul {
	display: flex;
}

.navigation ul li {
	display: flex;
	justify-content: flex-end;
	
	
	font-style: uppercase;
}

h1 {
	font-family: 'Commissioner';
	font-size: 40px;
	line-height: 50px;
}

.wrapper-main-text {
	display: block;
	width: 100%;
	margin-top: 0px;
	background-color: #ffffff;

	
}

.wrapper-main-text h1  {
	position: absolute;
	z-index: 10px;
	bottom: 300px;
}

.main-text {
	position: absolute;
	z-index: 10px;
	bottom: 280px;	
}

.button-all {
	position: absolute;
	z-index: 10px;
	bottom: 240px;
}


.main-text {
	font-family: 'Lato';
	font-weight: 300px;
	line-height: 25px;
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;
}

.button-all {
	background-color: #dec377;
	border-radius: 2px;
	border: none;
	width: 200px;
	height: 45px;

	 font-family: 'Commissioner';
	 font-weight: 700;
	 font-size: 13px;
	 line-height: 30px;
	 text-align: center;
	 color: #ffffff;
	 text-transform: uppercase;
}


.block {
	display: flex;
	justify-content: space-around;
	

	position: absolute;
	z-index: 20px;
	top: -90px;
}

.block-1, .block-2, .block-3, .block-4 {
	
	
	display: flex;
	
	flex-direction: column;
	align-items: center;
		
	padding: 135px 142px 135px 142px;
	background-color: #ffffff;
	
	

	 
}

.block-1 h4, .block-2 h4, .block-3 h4, .block-4 h4 {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	text-align: center;

	position: absolute;
	z-index: 10px;
	bottom: 40px;

	color: rgba(0, 0, 0, 0.75);


	
}
.block {
	position: relative;

	
}
.block-1 {
	background-image: url(../img/svg/block.svg);
    background-position: 30px 30px;
    background-repeat: no-repeat;
}

.block-2 {
	background-image: url(../img/svg/reputation.svg);
    background-position: 30px 30px;
    background-repeat: no-repeat;
}

.block-3 {
	background-image: url(../img/svg/rezultat.svg);
    background-position: 30px 30px;
    background-repeat: no-repeat;
}

.block-4 {
	background-image: url(../img/svg/confid.svg);
    background-position: 30px 30px;
    background-repeat: no-repeat;
}

.ellipse {
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}


.stairs {
	background-color: #ffffff;
    background-image: url("../img/gogo.png");
    background-position: 700px 0; 
    background-repeat: no-repeat;
    color: #000000; 


}

.block-activity {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.block-activity-main {
	margin-bottom: 100px;


}

.block-activity-1 {
	background-image: url(../img/svg/dolgi.svg);
    background-position: 250px 25px;
    background-repeat: no-repeat;
    height: 140px;
    background-color: #ffffff;    
}

/*.block-activity-1, .block-activity-4, .block-activity-7 {
	margin-left: -10px;
}*/

.block-activity-2 {
	background-image: url(../img/svg/reorganizacia.svg);
    background-position: 250px 25px;
    background-repeat: no-repeat;
    height: 140px;
    background-color: #ffffff; 
}

.block-activity-3 {
	background-image: url(../img/svg/sale.svg);
    background-position: 250px 25px;
    background-repeat: no-repeat;
    height: 140px;
    background-color: #ffffff; 
}

.block-activity-4 {
	background-image: url(../img/svg/support.svg);
    background-position: 250px 25px;
    background-repeat: no-repeat;
    height: 140px;
    background-color: #ffffff; 
}

.block-activity-5 {
	background-image: url(../img/svg/liquidation.svg);
    background-position: 250px 25px;
    background-repeat: no-repeat;
    height: 140px;
    background-color: #ffffff; 
}

.block-activity-6 {
	background-image: url(../img/svg/documents.svg);
    background-position: 250px 25px;
    background-repeat: no-repeat;
    height: 140px;
    background-color: #ffffff; 
}

.block-activity-7 {
	background-image: url(../img/svg/service.svg);
    background-position: 250px 25px;
    background-repeat: no-repeat;
    height: 140px;
    background-color: #ffffff; 
}

.block-activity-8 {
	background-image: url(../img/svg/outsource-cup.svg);
    background-position: 250px 25px;
    background-repeat: no-repeat;
    height: 140px;
    background-color: #ffffff; 
}

.block-activity-9 {
	background-image: url(../img/svg/build.svg);
    background-position: 250px 25px; 
    background-repeat: no-repeat;
    height: 140px;
    background-color: #ffffff; 
}

.block-activity-1, .block-activity-2, .block-activity-3,
.block-activity-4, .block-activity-5, .block-activity-6,
.block-activity-7, .block-activity-8, .block-activity-9 {
	
	margin-right: 30px;
	margin-bottom: 30px;
	width: 350px;

	flex-direction: column;
	align-items: center;
}    

.block-activity h4 {
	font-family: 'Commissioner';
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}   

.block-activity a {
	font-family: 'Lato';
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
}


.button-yellow {
	background-color: #dec377;
	border-radius: 2px;
	border: none;
	width: 200px;
	height: 45px;

	 font-family: 'Commissioner';
	 font-weight: 700;
	 font-size: 13px;
	 line-height: 30px;
	 text-align: center;
	 color: #ffffff;
	 text-transform: uppercase;
}

.activity {
	display: flex;
	margin-bottom: 60px;
}

.activity h3 {
	margin-right: 30px;
	font-family: 'Commissioner';
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
} 

.activity p {
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Lato';
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
}

.activity-p {
	margin-top: 20px;
}

.reviews h3 {
	font-family: 'Commissioner';
	font-weight: 400;
	line-height: 40px;
	font-size: 28px;
}

.reviews {
	margin-bottom: 80px;
}

.reviews-wrapper {
	background-color: #ffffff;
	width: 100%;
	margin-top: 0px;
}

.feedback {
	display: flex;
	background-color: #ffffff;
}

.feedback-1 {
	margin-right: 30px;
}

.button-yellows {
	margin-top: 30px;
}

.feedback-1,
.feedback-2 {
	width: 570px;

	border: 1px solid transparent;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.name-name {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
}

.name-feedback {
	font-family: 'Commissioner';
	font-weight: 700;
	font-size: 26px;
	line-height: 40px;

	color: #DEC377;
}

.feedback p {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
}

.service {
	display: flex;
	justify-content: space-around;
}

.wrapper-color {
	background-color: #ffffff;
}

.service p {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
}

.button-yellow-2 {
	background-color: #ffffff;
	border-radius: 2px;
	border: none;
	border: 2px solid #DEC377;
	width: 200px;
	height: 45px;

	 font-family: 'Commissioner';
	 font-weight: 700;
	 font-size: 13px;
	 line-height: 30px;
	 text-align: center;
	 color: #DEC377;
	 text-transform: uppercase;	
}

.partners ul {
	display: flex;
	justify-content: space-around; 

	background-color: #ffffff;
}

.partners li {
	

}

.partners li img {
	filter: grayscale(100%);
}

.why-us-block {
	display: flex;
	justify-content: space-between;
	background: #E5E5E5;
	margin-bottom: 30px;
}

.service-2 {
	background: #E5E5E5;
}

.why-us-1 {
	margin-right: 80px;
}



.why-us {
	
	background: #ffffff;
	padding: 20px;

	position: relative;
}

.yellow-trigle {
	position: absolute;
	z-index: 10;
	top: 0px;
	right: 0px;

	width: 0; 
	height: 0;
	border-top: 70px solid #DEC377;
	border-left: 70px solid transparent;
}

.why-us-2 {
	display: flex;
	justify-content: space-around;
	padding: 20px;

	margin-bottom: 50px;
}

.why-us h4 {
	font-family: 'Commissioner';
	font-weight: 400;
	font-size: 26px;
	line-height: 45px;
}

.why-us p {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
}

.servie-list h2 {
	font-family: 'Commissioner';
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
}

	

.container-flex ul {
	padding: 0;
}

.service-list-ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	/*width: 1170px;*/
}

.container-flex {
	margin-left: 40px;
}

.service-list {
	margin-bottom: 90px;
}

.service-list h2 {
	margin-left: 40px;
}


.service-list-ul li  {
	display: flex;
	font-family: 'Commissioner';
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;


	height: 140px;
	background-color: #ffffff;
	margin: 0px 30px 30px 0px;
}

.service-list-ul li:nth-child(1),
.service-list-ul li:nth-child(6),
.service-list-ul li:nth-child(9) {
	width: 400px;
	
}

.service-list-ul li:nth-child(3),
.service-list-ul li:nth-child(4),
.service-list-ul li:nth-child(7),
.service-list-ul li:nth-child(8) {
	width: 500px;
	border-left: 70px solid rgba(222, 195, 119, 0.4);
}

.service-list-ul li:nth-child(2),
.service-list-ul li:nth-child(5),
.service-list-ul li:nth-child(10) {
	width: 600px;
	border-left: 70px solid rgba(222, 195, 119, 0.4);
}

.service-list-ul li:nth-child(1),
.service-list-ul li:nth-child(2),
.service-list-ul li:nth-child(9),
.service-list-ul li:nth-child(10) {
	border-left: 70px solid rgba(222, 195, 119, 0.4);
}


.service-list-ul li:nth-child(3),
.service-list-ul li:nth-child(4),
.service-list-ul li:nth-child(7),
.service-list-ul li:nth-child(8) {
	border-left: 70px solid rgba(222, 195, 119, 0.75);;
}

.service-list-ul li:nth-child(5),
.service-list-ul li:nth-child(6) {
	border-left: 70px solid #DEC377;
}



.service-list-ul button {
	font-family: 'Lato';
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;

	border: none;
	color: rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
}

.service-list p {
	font-family: 'Lato';
	font-size: 15px;
	line-height: 25px;
}

.all-service {
	display: flex;
	justify-content: space-between;
}

.confidence {
	background-color: #ffffff;
	margin-bottom: 105px;

	border: 1px solid transparent; /*?????*/
}

.noname {
	margin-top: 90px;
}

.line {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.noname-2 {
	border: 1px solid transparent;
	margin-top: 90px;
}

.text {
	

	margin-top: -100px;
}
.confidence ul {
	list-style-type: disc;
}

.confidence ul li {
	box-sizing: border-box;

	color: #DEC377;
	list-style: none;
	
	
}

.confidence li span {
	color: #000000;
} 

.confidence-flex {
	display: flex;
	justify-content: space-between;
}

.noname-2 {

}

.confidence-flex li::before {
	content: "";
	display: inline-block;
	background: #DEC377;
	vertical-align: middle;
	
	width: 10px;
	height: 10px;
	border-radius: 300px;

	position: absolute;
	left: -30px;
	top: 52px;
}
.confidence-flex li {
	position: relative;
	padding-top: 45px;
	margin-right: 150px;

	

}

.confidence-flex-2 li {
	margin-right: 130px;
}

.confidence-flex li {
	padding-left: 15px;
}

.block-advantages {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-around;

	position: relative;
}

.block-advantages-1,
.block-advantages-2,
.block-advantages-3,
.block-advantages-4 {
	display: flex;
	
	flex-direction: column;
	align-items: center;
	
	width: 270px;
	height: 335px;
	margin-right: 30px;
	background-color: #ffffff;
}


.block-advantages-1 p,
.block-advantages-2 p,
.block-advantages-3 p, 
.block-advantages-4 p {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	text-align: center;

	position: relative;
	z-index: 10;
	top: 190px;	
}

.block-advantages-1 {
	background-image: url(../img/svg/licenses.svg);
    background-position: 20px 50px;
    background-repeat: no-repeat;
}

.block-advantages-2 {
	background-image: url(../img/svg/sotrudniki.svg);
    background-position: 20px 50px;
    background-repeat: no-repeat;
}

.block-advantages-3 {
	background-image: url(../img/svg/beseda.svg);
    background-position: 20px 50px;
    background-repeat: no-repeat;
}

.block-advantages-4 {
	background-image: url(../img/svg/docs.svg);
    background-position: 20px 50px;
    background-repeat: no-repeat;
}

.card {
	background: #ffffff;
	padding: 40px 370px 45px 50px;
	margin-bottom: 100px;

	position: relative;
}

.card-2 {
	width: 500px;
	height: 365px;
}

.card-2 li {
	color: #DEC377;
	list-style: none;
}

.card-2 li span {
	color: #000000;

}

.card-list-1::before {
	content: url(../img/number-1.png);
	vertical-align: middle;

	position: absolute;
	left: -40px;
}

.card-list-2::before {
	content: url(../img/number-2.png);
	vertical-align: middle;

	position: absolute;
	left: -40px;
}

.card-list-1,
.card-list-2 {
	padding-left: 60px;
	position: relative;
}

.card-list-1 {
	margin-bottom: 30px;

}

.card-list-2 {
	margin-bottom: 35px;
}


.form {
	display: block;
}

.block-form {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.block-login {
	background: #ffffff;

	width: 570px;
	height: 365px;

	margin: 0;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.block-form {

}

.login-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	margin: 40px 50px 40px 50px;
}

.login-form label {
	display: block;
}

.login-form label {
	font-family: 'Commissioner';
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
}

.login-form input[type=text],
.login-form input[type=numbers] {
	display: flex;
	justify-content: column;
	
	font: inherit;

	font-family: 'Lato';
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;

	width: 100%;

	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.login-form b {
	display: flex;
}

.login-text {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;

	color: rgba(0, 0, 0, 0.5);
}

.block-form {

}

.login-text b {
	color: #000000;
}

.list-form {
	list-style: none;
}

.list-form p {
	display: block;
}

.size {
	width: 100%;
	margin-top: 30px;
}

.price {
	margin-top: 140px;
	margin-bottom: 150px;
}

.main-footer h5 {
	font-family: 'Commissioner';
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}

.line-2 {
	border: 1px solid rgba(0, 0, 0, 0.1);
	opacity: 0.7;
	width: 640px;
}

.line-3 {
	border: 1px solid rgba(0, 0, 0, 0.1);
	opacity: 0.7;
	width: 170px;
}

.footer-block-2 .style-1,
.footer-block-3 .style-1  {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
}

.footer-block-2 .style-2 {
	font-family: 'Commissioner';
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	text-transform: uppercase;
}

.footer-block-2 .style-3 {
	font-family: 'Commissioner';
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
}

.footer-block-2 .style-4,
.footer-block-3 .style-4 {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
}

.footer-block-2 {
	font-family: 'Lato';
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
}

.style-5 {
	text-transform: uppercase;
	font-family: 'Lato';
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;

	margin-left: -40px;

	position: relative;
}

.site-map {
	margin-bottom: 30px;
}

.style-5::after {
	position: absolute;
	content: url(../img/svg/row.svg);
	left: 200px;
	top: 5px;
}

/* ================СЕТКА FOOTER=============*/
.main-footer {
	display: flex;
	flex-direction: row;

	padding-bottom: 60px;
}

.footer-block-1 {
	display: flex;
	flex-direction: column;

	margin-right: 46px;
}

.list-foot-1,
.list-foot-2 {
	margin-left: -40px;
}

.list-unp li:nth-child(2) {

}


.list-social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	margin-top: 60px;
	margin-bottom: 60px;

	margin-left: 0px;
	padding-left: 0;

}

.vk {
	margin: 0;
}

.footer-block-2a {
	display: flex;
	flex-direction: row;
	
	flex-wrap: wrap;
	width: 670px;

	
}

.block-2-minsk,
.block-2-mogilev,
.block-2-grodno {
	
	width: 200px;
}

.site {
	display: flex;
	justify-content: center;
	background-color: #b5b5b5;

	padding-top: 27px;
	padding-bottom: 27px;
}

.block-2-grodno {
	margin-top: 10px;
}


	
